/.vscode
/venv

/Django_JWT/Django_JWT/__pycache__
/Django_JWT/board/__pycache__

/NaverPowerLinkRanking/src/SearchResults
/NaverPowerLinkRanking/src/MultiSearchResults
/NaverPowerLinkRanking/src/__pycache__

/NaverPowerLinkRanking/release/PowerLinkRanking_v1.1.exe
/NaverPowerLinkRanking/release/PowerLinkRanking_v2.0.exe
/NaverPowerLinkRanking/release/PowerLinkRanking_v2.1.exe
/NaverPowerLinkRanking/release/PowerLinkRanking_v2.2.exe
/NaverPowerLinkRanking/release/PowerLinkRanking_v2.3.exe